**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*
# librechat*  # Removed to allow librechat.yaml to be baked into Docker image for Railway deployment
Dockerfile*
docs

# Ignore all hidden files
.*
